.App{
    font-family: sans-serif;
    text-align: center;
}

.App h1{
    font-size: 60px;
}

.animes-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    list-style: none;
    grid-gap: 1.5rem;
}

.animes-list img{
    max-width: 100%;
    border-radius: 5px;
}

